<section id="ask_01" class="p40">
	<div class="container">
    	
    	
    	<div class="col-sm-8">
        
        <div class="section-header animated fadeInDown">
			<h1 class="section-title text-center">Ask a Question</h1>
            <p class="text-center">Get top-quality legal advice from multiple lawyers in 1 hour!</p>
		</div>
        
         	<div class="form-group">
         		<input class="form-control" type="text" name="" placeholder="Title Of Case">
         	</div>
         	<div class="form-group">
         		<select class="form-control">
                  <option value="0"> Case Type </option>
                  <option value="1"> SLP (Civil) </option>
                  <option value="2"> SLP (Criminal) </option>
                  <option value="3"> Writ Petition (Civil) </option>
                  <option value="4"> Writ Petition(Criminal) </option>
                  <option value="5"> Civil Appeal </option>
                  <option value="6"> Criminal Appeal </option>
                  <option value="7"> Transfer Petition (Civil) </option>
                  <option value="8"> Transfer Petition (Criminal) </option>
                  <option value="9"> Review Petition (Civil) </option>
                  <option value="10"> Review Petition (Criminal) </option>
                  <option value="11"> Original Suit </option>
                  <option value="12"> Tranfer Case (Civil) </option>
                  <option value="13"> Transfer Case (Criminal) </option>
                  <option value="14"> Writ Petition (Civil)... </option>
                  <option value="15"> Writ Petition (Criminal)... </option>
                  <option value="16"> SLP (Civil) CC </option>
                  <option value="17"> SLP (Criminal) CRLMP </option>
                  <option value="18"> Motion Case(Civil) </option>
                  <option value="19"> Motion Case(Crl.) </option>
                  <option value="20"> Contempt Petition (Civil) </option>
                  <option value="21"> Contempt Petition (Criminal) </option>
                  <option value="22"> Tax Reference Case </option>
                  <option value="23"> Special Reference Case </option>
                  <option value="24"> Election Petition (Civil) </option>
                  <option value="25"> Curative Petition(Civil) </option>
                  <option value="26"> Curative Petition(Criminal) </option>
                  <option value="27"> Arbitration Petition </option>
				  <option value="28"> REF. U/A 317(1) </option>
				  <option value="29"> Suo-Moto W.P(Civil) D. </option>
				  <option value="30"> Suo-Moto W.P(Criminal) D. </option>
				  <option value="31"> Suo-Moto Contempt Pet.(Civil) D. </option>
				  <option value="32"> Suo-Moto Contempt Pet.(Criminal) D. </option>
                  <option value="34"> SLP (Civil) D. </option>
                  <option value="35"> SLP (Criminal) D. </option>
                  <option value="38"> Civil Appeal D </option>
                  <option value="39"> Criminal Appeal D </option>
                  <option value="36"> Writ Petition (Civil)  D </option>
                  <option value="37"> Writ Petition(Criminal)  D </option>
                  <option value="40"> Transfer Petition (Civil)  D </option>
                  <option value="41"> Transfer Petition (Criminal)  D </option>
                  <option value="42"> Review Petition (Civil)   D </option>
                  <option value="43"> Review Petition (Criminal)  D </option>
                  <option value="44"> Tranfer Case (Civil)  D </option>
                  <option value="45"> Transfer Case (Criminal)  D </option>
                  <option value="46"> SLP (Civil) CC D. </option>
                  <option value="47"> SLP (Criminal) CRLMP D. </option>
                  <option value="48"> Writ Petition (Civil)...    D </option>
                  <option value="49"> Writ Petition (Criminal)...    D </option>
                  <option value="50"> Original Suit   D </option>
                  <option value="51"> Death Ref. Case(Criminal)  D </option>
                  <option value="52"> Contempt Petition (Civil)  D </option>
                  <option value="53"> Contempt Petition (Criminal)  D </option>
                  <option value="54"> Tax Reference Case  D </option>
                  <option value="55"> Special Reference Case   D </option>
                  <option value="56"> Election Petition (Civil)   D </option>
                  <option value="57"> Arbitration Petition   D </option>
                  <option value="58"> Curative Petition(Civil)  D </option>
                  <option value="59"> Curative Petition(Criminal)  D </option>
                  <option value="61"> REF. U/A 317(1) D </option>
				  <option value="62"> Suo-Moto W.P(Civil) </option>
				  <option value="63"> Suo-Moto W.P(Criminal) </option>
				  <option value="64"> Suo-Moto Contempt Pet.(Civil) </option>
				  <option value="65"> Suo-Moto Contempt Pet.(Criminal) </option>
				  <option value="66"> Suo-Moto Review Petition(Criminal) </option>
              </select>
         	</div>
         	
         	<div class="form-group">
         		<textarea class="form-control" placeholder="Description"></textarea>
         	</div>
         	
         	<div class="form-group">
         		<input type="text" class="form-control" placeholder="Name">
         	</div>
            
            <div class="form-group">
         		<input type="email" class="form-control" placeholder="Email">
         	</div>
         	
         	<div class="form-group">
         		<input type="tel" class="form-control" placeholder="Mobile">
         	</div>
         	
         	<div class="form-group">
         		<input type="number" class="form-control" placeholder="PIN Code">
			</div>
            
            
            <div class="p20"></div>
         	
         	<div class="form-group">
         		<input type="button" class="btn btn-default" value="Continue"  data-toggle="modal" data-target="#TC-PP">
         		
         	</div>
          
        </div>
        <div class="col-sm-4">
        	<div class="side-bar">
            	.
            </div>
        </div>
    </div>
</section>

  <!-- Modal Terms of Use & Privacy Policy  -->
  <div class="modal fade" id="TC-PP" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Welcome to the Law Master Terms of Use and Privacy Policy</h4>
        </div>
        <div class="modal-body">
        	<div class="tc-body">
        	<h3>Privacy Policy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non. Aenean lobortis purus nec erat mattis tristique. Ut sodales viverra neque ac scelerisque. Mauris sit amet lacus ex. In dui nunc, malesuada a justo non, ornare tincidunt metus. Etiam vestibulum vel nulla non dapibus. Curabitur sapien eros, dictum in maximus in, pellentesque et mauris. Praesent at mollis turpis. Vivamus eget pretium massa. Mauris egestas maximus consectetur. Sed eu felis semper, viverra felis ut, lobortis massa. Donec at justo augue.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non. Aenean lobortis purus nec erat mattis tristique. Ut sodales viverra neque ac scelerisque. Mauris sit amet lacus ex. In dui nunc, malesuada a justo non, ornare tincidunt metus. Etiam vestibulum vel nulla non dapibus. Curabitur sapien eros, dictum in maximus in, pellentesque et mauris. Praesent at mollis turpis. Vivamus eget pretium massa. Mauris egestas maximus consectetur. Sed eu felis semper, viverra felis ut, lobortis massa. Donec at justo augue.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non. Aenean lobortis purus nec erat mattis tristique. Ut sodales viverra neque ac scelerisque. Mauris sit amet lacus ex. In dui nunc, malesuada a justo non, ornare tincidunt metus. Etiam vestibulum vel nulla non dapibus. Curabitur sapien eros, dictum in maximus in, pellentesque et mauris. Praesent at mollis turpis. Vivamus eget pretium massa. Mauris egestas maximus consectetur. Sed eu felis semper, viverra felis ut, lobortis massa. Donec at justo augue.</p>
          
        </div>
        <div class="checkbox">
              <label><input type="checkbox" value="TC">I agree to the <a href="#Terms">Terms of Use</a> and <a href="#Privacy">Privacy Policy</a></label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
        </div>
      </div>
    </div>
  </div>