<section id="main_slider">
	<div class="item">
	
	</div>
</section>

<section id="mn_sec_01">
	<div class="container">
		<div class="col-sm-8 animated fadeInLeft">
			<h1>Legal advice from top-rated lawyers</h1>
			<p>No Credit Card Needed. 100% Free.</p>
		</div>
		<div class="col-sm-4 animated fadeInRight">
			<a href="#Ask" class="btn btn-yellow">Ask a Question </a>
		</div>
	</div>
</section>

<section id="mn_sec_02">
	<div class="container">
		<div class="section-header animated fadeInDown">
			<h1 class="section-title text-center">Latest Answers</h1>
		</div>
		<div class="row">
			<a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>

				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
            <a href="#Questions">
			<div class="col-sm-4 animated fadeInLeft">
				<div class="lt_ans_box">
					<div class="lt_ans_auth">K</div>
					<div class="lt_ans_ans">
						<div class="lt_ans_hd">Final Report File in IPC 302 and 120B.</div>
						<div class="lt_ans_time">3 Days Ago.</div>
					</div>
				</div>
			</div>
			</a>
		</div>
		<div class="row text-center p20">
			<a href="" class="btn btn-blue">Read More</a>
		</div>
	</div>
</section>

<section id="mn_sec_03">
	<div class="container">
    	<h2 class="sec-hd-2">We Will Help You</h1>
        <p class="sec-p">no worry about About Your Legal Problem</p>
		<div class="row">
        	<div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="qk-lnk">
                	<div class="qk-icon"><i class="fa fa-phone fa"></i></div>
                    <div class="qk-hd">Ask a Question</div>
                	<div class="qk-dt">
                    Get legal answers from top-rated lawyers. It’s quick, easy, and anonymous!
                    </div>
                </div>
            </div>
        </div>
		
	</div>
</section>