<section id="privacy" class="p40">
	<div class="container">
    	<div class="section-header animated fadeInDown">
			<h1 class="section-title text-center">Privacy Policy</h1>
		</div>
        <div class="row">
        	<div class="col-sm-12">
            <h3>1. ACCEPTANCE OF TERMS</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non. Aenean lobortis purus nec erat mattis tristique. Ut sodales viverra neque ac scelerisque. Mauris sit amet lacus ex. In dui nunc, malesuada a justo non, ornare tincidunt metus. Etiam vestibulum vel nulla non dapibus. Curabitur sapien eros, dictum in maximus in, pellentesque et mauris. Praesent at mollis turpis. Vivamus eget pretium massa. Mauris egestas maximus consectetur. Sed eu felis semper, viverra felis ut, lobortis massa. Donec at justo augue.</p>
        	</div>
        </div>
    	
    </div>
</section>