<section id="questions" class="p40">
	<div class="container">
        <div class="col-sm-8">
        	<div class="row">
           		<div class="qn-title">Final Report File in IPC 302 and 120B.</div>
           </div>
           <div class="row">
           		<div class="QA-Q-sec">
                	<div class="QA-Q-dt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non. Aenean lobortis purus nec erat mattis tristique. Ut sodales viverra neque ac scelerisque. Mauris sit amet lacus ex. In dui nunc, malesuada a justo non, ornare tincidunt metus. Etiam vestibulum vel nulla non dapibus. Curabitur sapien eros, dictum in maximus in, pellentesque et mauris. Praesent at mollis turpis. Vivamus eget pretium massa. Mauris egestas maximus consectetur. Sed eu felis semper, viverra felis ut, lobortis massa. Donec at justo augue.
                    </div>
                </div>
           </div>
           
           <div class="row">
               <div class="QA-A-sec">
                    <div class="QA-lawyer">
                        <div class="lr-pic">
                            <img src="style/images/user-secret.png">
                        </div>
                        <div class="lr-name">nandagopal marar</div>
                        <div class="lr-loc">Advocate, Mumbai</div>
                        <div class="lr-status online"> Available Now </div>
                        <div class="lr-ping">
                        	<a href="#Talk"><i class="fa fa-phone fa"></i></a> |
                            <a href="#Ask"><i class="fa fa-comments fa"></i></a>
                        </div>
                    </div>
                    <div class="lr-ans"> 
                    	<div class="lr-ans-ans">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non. Aenean lobortis purus nec erat mattis tristique. Ut sodales viverra neque ac scelerisque. Mauris sit amet lacus ex. In dui nunc, malesuada a justo non, ornare tincidunt metus. Etiam vestibulum vel nulla non dapibus. Curabitur sapien eros, dictum in maximus in, pellentesque et mauris. Praesent at mollis turpis. Vivamus eget pretium massa. Mauris egestas maximus consectetur. Sed eu felis semper, viverra felis ut, lobortis massa. Donec at justo augue.
                        </div>
                    </div>
               </div>
           </div>
           
                      <div class="row">
               <div class="QA-A-sec">
                    <div class="QA-lawyer">
                        <div class="lr-pic">
                            <img src="style/images/user-secret.png">
                        </div>
                        <div class="lr-name">nandagopal marar</div>
                        <div class="lr-loc">Advocate, Mumbai</div>
                        <div class="lr-status offline"> Unavailable </div>
                        <div class="lr-ping">
                        	<a href="#Talk"><i class="fa fa-phone fa"></i></a> |
                            <a href="#Ask"><i class="fa fa-comments fa"></i></a>
                        </div>
                    </div>
                    <div class="lr-ans"> 
                    	<div class="lr-ans-ans">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim aliquam lobortis. Suspendisse feugiat mauris odio, vitae interdum mauris faucibus non. Aenean lobortis purus nec erat mattis tristique. Ut sodales viverra neque ac scelerisque. Mauris sit amet lacus ex. In dui nunc, malesuada a justo non, ornare tincidunt metus. Etiam vestibulum vel nulla non dapibus. Curabitur sapien eros, dictum in maximus in, pellentesque et mauris. Praesent at mollis turpis. Vivamus eget pretium massa. Mauris egestas maximus consectetur. Sed eu felis semper, viverra felis ut, lobortis massa. Donec at justo augue.
                        </div>
                    </div>
               </div>
           </div>
           
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</section>