<html  ng-app="LawMaster">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="#262d32" name="theme-color">
<link rel="shortcut icon" href="favicon.ico">
<title>Law Master</title>
<!-- Bootstrap -->

<link href="style/css/bootstrap.css" rel="stylesheet">
<link href="style/css/animate.min.css" rel="stylesheet">
<link href="style/css/style.css" rel="stylesheet" >


   <!--Fonts--->
   <link href="//fonts.googleapis.com/css?family=Roboto:700,500,400,300,100&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <!--////Fonts////--->
    <!--Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="style/js/main.js"></script>
    <script src="core/app.js"></script>
    <!--/Script-->
</head>
<body>
<header>
<div class="tp-head">
	<div class="container">
		<div class="col-sm-6">
			
		</div>
		<div class="col-sm-6">
			<div class="text-right"><a href="" data-toggle="modal" data-target="#login-modal">Log In</a> | <a href="" data-toggle="modal" data-target="#login-modal">Create an Account</a></div>
            
		</div>
	</div>
</div>
<nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home"><img src="style/images/logo.png" alt="logo" class="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll"><a href="#Ask">Ask a Question</a></li>
                        <li class="scroll"><a href="#Talk">Talk to a lawyer</a></li>
                        <li class="scroll"><a href="#Services">legal Services</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
</header>


<div  ng-view>

</div>







<!-- Footer--->
    <footer>
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-3">
                <h4 class="footer_hd">Support</h4>
                <ul class="footer_links">
                <li><a href="">FAQ</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">FAQ</a></li>
                </ul>
                </div>
                <div class="col-sm-3">
                <h4 class="footer_hd">Useful links</h4>
                <ul class="footer_links">
                <li><a href="">Blog</a></li>
                <li><a href="">Web Updates</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">FAQ</a></li>
                </ul>
                </div>
                <div class="col-sm-3">
                <h4 class="footer_hd">Legal</h4>
                <ul class="footer_links">
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="">Privacy policy</a></li>
                </ul>
                </div>
                <div class="col-sm-3">
                <h4 class="footer_hd">Support</h4>
                <ul class="footer_links">
                <li><a href="">FAQ</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">FAQ</a></li>
                </ul>
                </div>
            </div>
        </div>
        
<hr>
    	
    	<div class="container">
        	<div class="row text-center">
                <div class="credit">
                © 2016 The Law Master | all rights reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer--->
    
    
    <!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<img class="img-circle" id="img_logo" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-128.png">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</div>
                
                <!-- Begin # DIV Form -->
                <div id="div-forms">
                
                    <!-- Begin # Login Form -->
                    <form id="login-form">
		                <div class="modal-body">
				    		<div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Type your username and password.</span>
                            </div>
				    		<input id="login_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
				    		<input id="login_password" class="form-control" type="password" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
        		    	</div>
				        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
				    	    <div>
                                <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                                <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
				        </div>
                    </form>
                    <!-- End # Login Form -->
                    
                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
    	    		    <div class="modal-body">
		    				<div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Type your e-mail.</span>
                            </div>
		    				<input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
            			</div>
		    		    <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
		    		    </div>
                    </form>
                    <!-- End | Lost Password Form -->
                    
                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;">
            		    <div class="modal-body">
		    				<div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
		    				<input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                            <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" required>
            			</div>
		    		    <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            </div>
		    		    </div>
                    </form>
                    <!-- End | Register Form -->
                    
                </div>
                <!-- End # DIV Form -->
                
			</div>
		</div>
	</div>
    <!-- END # MODAL LOGIN -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="style/js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="style/js/bootstrap.js"></script>
</body>
</html>
