<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/dashBoardLayout">

<head>
<title>DashBoard</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-8">
				<h1>Matters</h1>
			</div>
			<div class="col-sm-4"></div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<hr />
		<div class="row">
			<div class="col-sm-8">

				<a type="button" th:href="@{/matters/new}"
					class="btn btn btn-success">New</a>
				<button type="button" class="btn btn-info" data-toggle="modal"
					data-target="#PopupExport">Export</button>



				<!-- Export Form -->
				<div class="modal fade" id="PopupExport" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Export</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label>Export Range</label>
									<div class="radio">
										<label> <input type="radio" name="optionsRadios"
											id="optionsRadios1" value="option1" checked=""></input>Export
											All
										</label>
									</div>
									<div class="radio">
										<label> <input type="radio" name="optionsRadios"
											id="optionsRadios1" value="option1" checked=""></input>Export
											Pages
										</label>
									</div>
									<input class="form-control"></input>
								</div>
								<div class="form-group">
									<label>Output Format</label> <select class="form-control">
										<option>PDF</option>
										<option>CSV</option>
									</select>
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success">Create
									Export</button>
								<button type="button" class="btn btn-default">Cancel</button>
							</div>
						</div>

					</div>
				</div>
				<!-- End Export Form -->

			</div>
			<div class="col-sm-4">
				<div class="input-group date" id='datetimepicker1'
					data-provide="datepicker">
					<input type="text" class="form-control"></input>
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
				<script type="text/javascript">
					$(function() {
						$('#datetimepicker1').datetimepicker();
					});
				</script>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="">

				<div id="exTab3" class="col-lg-12">
					<ul class="nav nav-pills">
						<li class="active"><a href="#1b" data-toggle="tab">Open</a></li>
						<li><a href="#2b" data-toggle="tab">Close</a></li>
						<li><a href="#3b" data-toggle="tab">Pending</a></li>
						<li><a href="#4b" data-toggle="tab">All</a></li>
					</ul>

					<div class="tab-content clearfix">
						<div class="tab-pane active" id="1b">
							<table class="table table-sm">
								<thead>
									<tr>
										<th><input type="checkbox"></input></th>
										<th>Display Number</th>
										<th>Client</th>
										<th>Practice Area</th>
										<th>Open Date</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="4"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0002</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/12/2016</td>
									</tr>
									<tr>
										<td colspan="4"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0003</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/13/2016</td>
									</tr>
									<tr>
										<td colspan="4"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

								</tbody>
							</table>

						</div>
						<div class="tab-pane" id="2b">

							<table class="table table-sm">
								<thead>
									<tr>
										<th><input type="checkbox"></input></th>
										<th>Display Number</th>
										<th>Client</th>
										<th>Practice Area</th>
										<th>Open Date</th>
										<th>Closed Date</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="5"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="5"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="5"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>


								</tbody>
							</table>

						</div>
						<div class="tab-pane" id="3b">

							<table class="table table-sm">
								<thead>
									<tr>
										<th><input type="checkbox"></input></th>
										<th>Display Number</th>
										<th>Client</th>
										<th>Practice Area</th>
										<th>Pending Date</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="4"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0002</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/12/2016</td>
									</tr>
									<tr>
										<td colspan="4"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0003</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/13/2016</td>
									</tr>
									<tr>
										<td colspan="4"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>


								</tbody>
							</table>

						</div>
						<div class="tab-pane" id="4b">

							<table class="table table-sm">
								<thead>
									<tr>
										<th><input type="checkbox"></input></th>
										<th>Display Number</th>
										<th>Client</th>
										<th>Practice Area</th>
										<th>Open Date</th>
										<th>Closed Date</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="5"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="5"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

									<tr>
										<th rowspan="2"><input type="checkbox"></input></th>
										<th scope="row">0001</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>08/11/2016</td>
										<td>08/11/2016</td>
									</tr>
									<tr>
										<td colspan="5"><a class="table_but" href="">View</a> <a
											class="table_but" href="">Edit</a> <a class="table_but"
											href="">Add Task</a> <a class="table_but" href="">Quick
												Bill</a> <a class="table_but" href="">Delete</a></td>
									</tr>

								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>

</html>